@media(min-width: 768px) {
    .mobile-header {
      display: none;
    }
  
    .header {
      display: flex;
      background: #fff;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  @media(max-width: 768px) {
    .mobile-header {
      display: block;
    }
  
    .header {
      display: none;
    }
  }
  
  .active-item {
    border-bottom: 2px solid var(--ion-color-primary);
  }
  
  .dropdown {
      width: 136px;
      height: 150px;
      background: #fff;
      position: absolute;
      top: 40px;
      left: 87px;
      z-index: 1;
      ion-item:hover {
          --ion-item-color: var(--ion-color-primary);
      }
  }

  .abtdropdown {
    width: 136px;
    height: 150px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 207px;
    z-index: 1;
    ion-item:hover {
        --ion-item-color: var(--ion-color-primary);
    }
}

.mshipdropdown {
  width: 136px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 407px;
  z-index: 1;
  ion-item:hover {
      --ion-item-color: var(--ion-color-primary);
  }
}

ion-button{
    font-size:10px;
    font-weight: 600;
}

strong{
  font-weight: bold;

  color: blue;
}

// ion-icon.my-custom-color {
//   color: #0000ff; /* Set your custom color using a HEX value */
// }

.custom-icon {
  font-size: 50px; /* Set your custom size */
  color: #0000ff; /* Set your custom color using a HEX value */
}