img {
    width: 100%;
    max-height: 40vh;
}

ion-card {
    ion-card-header {
        ion-card-title {
            font-size: 1.2rem;
        }
    }
    ion-card-content {
        font-size: 1rem;
    }
}

p {
    margin-bottom: 20vh !important;
    ion-text {
      font-size: 0.8rem;
    }
}

ion-toolbar.tabs {
    position: absolute;
    bottom: 0;
}

.ios {
    ion-tabs {
        display: block;
        ion-tab-bar {
            ion-tab-button {
                padding-bottom: 10px;
            }
        }
    }
}


// Common styles for both desktop and mobile
ion-content {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  // Desktop styles (greater than 767px)
  @media (min-width: 768px) {
    ion-content {
    //   background-image: url('./../../../assets/imgs/wip.jpg');
    --background: url('./../../../../assets/imgs/wip.jpg') no-repeat center center fixed;
    background-size: cover;
    }
  }
  
  // Mobile styles (up to 767px)
  @media (max-width: 767px) {
    ion-content {
    //   background-image: url('./../../../assets/imgs/wip-m.jpg');
    --background: url('./../../../../assets/imgs/wip-m.jpg') no-repeat center center fixed;
    background-size: cover;
    }
  }