<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div>

    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="4">
          <ion-card >
            <img src="assets/logo/aaeca_logo.jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="hide()">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries
            </ion-card-content>
            <p>
              <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
            </p>
            <ion-toolbar class="tabs" *ngIf="show">
              <ion-tabs>
                <!-- Tab bar -->
                <ion-tab-bar slot="bottom">
                  <ion-tab-button (click)="share()">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-label>Relevance</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="share-outline" color="primary"></ion-icon>
                    <ion-label>Share</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                    <ion-label>Bookmark</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-toolbar>
          </ion-card>   
           
        </ion-col>
        <ion-col size="12" size-sm="4">
          <ion-card >
            <img src="assets/logo/aaeca_logo.jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="hide()">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries
            </ion-card-content>
            <p>
              <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
            </p>
            <ion-toolbar class="tabs" *ngIf="show">
              <ion-tabs>
                <!-- Tab bar -->
                <ion-tab-bar slot="bottom">
                  <ion-tab-button (click)="share()">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-label>Relevance</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="share-outline" color="primary"></ion-icon>
                    <ion-label>Share</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                    <ion-label>Bookmark</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-toolbar>
          </ion-card>   
          
        </ion-col>
        <ion-col size="12" size-sm="4">
          <ion-card >
            <img src="assets/logo/aaeca_logo.jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="hide()">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries
            </ion-card-content>
            <p>
              <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
            </p>
            <ion-toolbar class="tabs" *ngIf="show">
              <ion-tabs>
                <!-- Tab bar -->
                <ion-tab-bar slot="bottom">
                  <ion-tab-button (click)="share()">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-label>Relevance</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="share-outline" color="primary"></ion-icon>
                    <ion-label>Share</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                    <ion-label>Bookmark</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-toolbar>
          </ion-card>   
           
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <ion-card >
          <img src="assets/logo/aaeca_logo.jpg" />
          <ion-card-header>
            <ion-card-title>Madison, WI</ion-card-title>
            <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content (click)="hide()">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries
          </ion-card-content>
          <p>
            <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
          </p>
          <ion-toolbar class="tabs" *ngIf="show">
            <ion-tabs>
              <!-- Tab bar -->
              <ion-tab-bar slot="bottom">
                <ion-tab-button (click)="share()">
                  <ion-icon name="help-outline"></ion-icon>
                  <ion-label>Relevance</ion-label>
                </ion-tab-button>
            
                <ion-tab-button (click)="share()">
                  <ion-icon name="share-outline" color="primary"></ion-icon>
                  <ion-label>Share</ion-label>
                </ion-tab-button>
            
                <ion-tab-button (click)="share()">
                  <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                  <ion-label>Bookmark</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-toolbar>
  </ion-card>     
    

    
     

</ion-content>
