<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="ion-text-center" class="ion-text-wrap">
      <h1>Notable Alumni</h1>
      <p>Charismatic alumni whose stupendous achievements in myriad fields continue to make us proud.</p>
    </ion-label>
  </ion-item>

 
  <div>
    <ion-segment value="academy" [(ngModel)]="selectedCategory" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="academy">
        <ion-label>Academic</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enterpreneurship">
        <ion-label>Enterpreneurship</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Government">
        <ion-label>Government Service</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Industry">
        <ion-label>Industry Service</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="selectedCategory">
    <div>
      <!-- Display item details as per your requirement -->
        <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>This content {{selectedCategory}}</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
   </div>  

  </div>

  
</ion-content>
