<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Membership Form</ion-title>
    <ion-buttons slot="end">
      <ion-button type="submit" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-content class="ion-padding">
      <div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <ion-grid>
            <ion-list>
              <ion-row>
                <ion-col size-md="4" size="12">

                  <ion-item>
                    <ion-input label="First Name*" labelPlacement="stacked" placeholder="Enter First Name*"
                      formControlName="first_name"></ion-input>
                  </ion-item>

                </ion-col>

                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Middle Name" labelPlacement="stacked" placeholder="Middle Name"
                      formControlName="middle_name"></ion-input>
                  </ion-item>

                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Last Name*" labelPlacement="stacked" placeholder="Enter Last Name*"
                      formControlName="last_name"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Roll Number*" labelPlacement="stacked" placeholder="Roll Number"
                      formControlName="roll_number"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Degree Name*" labelPlacement="stacked" placeholder="Degree"
                      formControlName="degree_name"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Passout Year*" labelPlacement="stacked" placeholder="Passout Year"
                      formControlName="passout_year"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Gender*" labelPlacement="stacked" placeholder="Gender"
                      formControlName="gender"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Linkedin" labelPlacement="stacked" placeholder="Linkedin Link"
                      formControlName="linkedin"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="X handle" labelPlacement="stacked" placeholder="X handle"
                      formControlName="xhandle"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Employer*" labelPlacement="stacked" placeholder="Current Employer"
                      formControlName="employer"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Designation*" labelPlacement="stacked" placeholder="Designation"
                      formControlName="designation"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="email" label="Official Email*" labelPlacement="stacked"
                      placeholder="Official Email" formControlName="official_email"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="email" label="Private Email*" labelPlacement="stacked"
                      placeholder="Private Email" formControlName="email"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Mobile*" labelPlacement="stacked" placeholder="Mobile"
                      formControlName="mobile"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-input type="text" label="Whatsapp Mobile*" labelPlacement="stacked"
                      placeholder="Whatsapp Mobile" formControlName="whatsapp_number"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-textarea type="text" label="Current Country*" labelPlacement="stacked" placeholder="Country"
                      formControlName="current_country"></ion-textarea>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-textarea type="text" label="Current City*" labelPlacement="stacked" placeholder="City"
                      formControlName="current_city"></ion-textarea>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size="12">
                  <ion-item>
                    <ion-textarea type="text" label="Current City Pincode*" labelPlacement="stacked" placeholder="Current Pincode"
                      formControlName="current_pincode"></ion-textarea>
                  </ion-item>
                </ion-col>

              </ion-row>

              <ion-row>
                <ion-col size-md="8" size="12">
                  <ion-item>
                    <ion-textarea type="text" label="Address*" labelPlacement="stacked" placeholder="Current Address"
                      formControlName="current_address"></ion-textarea>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size="12">

                  <ion-item *ngIf="selectedImage">
                    <ion-label position="stacked">Selected Image</ion-label>
                    <img [src]="selectedImage" alt="Selected Image" style="max-width: 100%;">
                  </ion-item>

                  <ion-item>                   
                    <ion-button 
                    shape="round" 
                    expand="block" 
                    (click)="takePicture()">Upload Picture</ion-button>
                  </ion-item>
                  <ion-note color="danger">Image file should be less than 2 MB.</ion-note>
                </ion-col>

              </ion-row>
              <ion-item>
                <ion-checkbox formControlName="tc_1" (ionChange)="onCheckboxChangeTC1($event)" justify="start" labelPlacement="end" aria-label="tc_1" ><ion-note class="ion-text-wrap">
                  I agree that the above data may be used to update the Alumni Association database.
                </ion-note></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-checkbox formControlName="tc_2" (ionChange)="onCheckboxChangeTC2($event)" justify="start" labelPlacement="end" aria-label="tc_2"><ion-note class="ion-text-wrap">
                  I agree that the above data may be shared with Engineering College Ajmer.
                </ion-note></ion-checkbox>
              </ion-item>

            </ion-list>
          </ion-grid>
        </form>
      </div>
      <ion-button 
      *ngIf="myForm.valid" 
      color="secondary"
      shape="round" 
      expand="full" 
      type="submit" (click)="onSubmit()">Submit</ion-button>
</ion-content>
