<!--<ion-header class="ion-no-border" > 

  <ion-toolbar color="primary">     
    <ion-title class="ion-text-center">
      Alumini Association<br>
      <ion-note>Engineering College Ajmer</ion-note>
    </ion-title>

   <!-- <ion-avatar>
      <img  src="assets/logo/logo_avatar.png" />
    </ion-avatar> --


    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding" color="light" [fullscreen]="true">
  <!-- <div class="hero"></div> -->

  <div class="banner">
    <app-banner [slides]="home_top_banner"></app-banner>
    <!-- <ion-img src="assets/logo/150H350W.png" alt="Alumini Association of Engineering College Ajmer"></ion-img> -->

  </div>

  <div class="body" class="ion-text-wrap">
    <h2 class="heading" class="ion-text-left">
      Alumni Association
    </h2>
    <ion-list>
      <p>
        Engineering College Ajmer prides itself on the success of its alumni. After successfully completing their academic years at the institute, our alumni went on to expand their wings and reached new heights, be it as entrepreneurs, industrialists, academicians, researchers, social cause champions, bureaucrats etc. We have had many notable alumni who have received national and international recognition in their respective professional fields. With more than 5500 alumni spanning across the globe, they have been instrumental in strengthening the image of Engineering College Ajmer.
        </p>
      <p>
        Though their dreams took them in new directions, ECA alumni have always felt connected to their alma mater and hence, they have over the years nurtured the institute through their generous contributions. The spirit of Giving Back is reflected in every corner of the institute be it infrastructure development, scholarships, especially to girl students, financial support to various hobby clubs, set-up of different R&D labs and faculty chairs, donations to various community development sectors, environment etc. Established in 31.08.2022, Alumni Association of ECA is an independent registered body of more than xxxx alumni spanning across the world. Its mission is –
      </p>
      <p><strong>•</strong>To actively promote interaction & networking among its alumni.</p>
      <p><strong>•</strong>To be a pillar of support in their hour of need.
      </p>
      <p><strong>•</strong>
        To help realize the notion of Giving Back to the Alma mater.
      </p>
      <p><strong>•</strong>To function on a charitable basis, and to run the Association on ‘no profit-no loss’ basis’.
      </p>
      <p><strong>•</strong>To contribute to the vision and strengthen the image of ECA at national & international level.
        Alumni in different parts of the world have formed Chapters of their associations. These Chapters work actively towards promoting networking among themselves and with the institute as well. Organizing alumni Reunions is an integral part of the Alumni Association of ECA.
        </p>
    </ion-list>
    <p class="htext">
      
			
		
    </p>

  </div>
  <div class="events">
    <h2 class="heading">
      Top Donor
    </h2>    
    <ion-grid>
      <swiper-container>
        <swiper-slide *ngFor="let card of cards" slides-per-view="3" speed="100" loop="true" css-mode="true">
          <ion-card >
            <img [src]="card.imageUrl" alt="{{ card.title }}">
            <ion-card-header>
              <ion-card-title>{{card.title}}</ion-card-title>
              <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{ card.content }}
            </ion-card-content>
          </ion-card>
        </swiper-slide>
    </swiper-container>
    </ion-grid>

  </div>
  <div class="events">
    <h2 class="heading">
      News
    </h2>    
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="4">
          <ion-card >
            <img src="assets/logo/aaeca_logo.jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="hide()">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries
            </ion-card-content>
            <p>
              <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
            </p>
            <ion-toolbar class="tabs" *ngIf="show">
              <ion-tabs>
                <!-- Tab bar -->
                <ion-tab-bar slot="bottom">
                  <ion-tab-button (click)="share()">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-label>Relevance</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="share-outline" color="primary"></ion-icon>
                    <ion-label>Share</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                    <ion-label>Bookmark</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-toolbar>
          </ion-card>   
           
        </ion-col>
        <ion-col size="12" size-sm="4">
          <ion-card >
            <img src="assets/logo/aaeca_logo.jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="hide()">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries
            </ion-card-content>
            <p>
              <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
            </p>
            <ion-toolbar class="tabs" *ngIf="show">
              <ion-tabs>
                <!-- Tab bar -->
                <ion-tab-bar slot="bottom">
                  <ion-tab-button (click)="share()">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-label>Relevance</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="share-outline" color="primary"></ion-icon>
                    <ion-label>Share</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                    <ion-label>Bookmark</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-toolbar>
          </ion-card>   
          
        </ion-col>
        <ion-col size="12" size-sm="4">
          <ion-card >
            <img src="assets/logo/aaeca_logo.jpg" />
            <ion-card-header>
              <ion-card-title>Madison, WI</ion-card-title>
              <ion-card-subtitle>Manoj Jain || 12-05-2023</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content (click)="hide()">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
              It has survived not only five centuries
            </ion-card-content>
            <p>
              <ion-text class="ion-margin-start" color="medium">Short by Date</ion-text>
            </p>
            <ion-toolbar class="tabs" *ngIf="show">
              <ion-tabs>
                <!-- Tab bar -->
                <ion-tab-bar slot="bottom">
                  <ion-tab-button (click)="share()">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-label>Relevance</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="share-outline" color="primary"></ion-icon>
                    <ion-label>Share</ion-label>
                  </ion-tab-button>
              
                  <ion-tab-button (click)="share()">
                    <ion-icon name="bookmark-outline" color="primary"></ion-icon>
                    <ion-label>Bookmark</ion-label>
                  </ion-tab-button>
                </ion-tab-bar>
              </ion-tabs>
            </ion-toolbar>
          </ion-card>   
           
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="reunion">
    <h2>Glimps Of Reunion</h2>
    <div class="banner">
      <app-banner [slides]="home_glimps_banner"></app-banner>
    </div>
  </div>

  <div class="contactus">
    <h2 class="contact">Contact Us</h2>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <ion-list>
              <ion-item>
                <ion-input                 
                fill="outline"
                label="Name"
                labelPlacement="floating"
                placeholder="Enter Name"
                formControlName="name"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input              
                fill="outline"
                label="Email"
                labelPlacement="floating"
                placeholder="Enter Email"
                helperText="Enter a valid email"
                errorText="Invalid email"
                formControlName="email"
                email
                ></ion-input>
              </ion-item>

              <ion-item>
                <ion-textarea
                fill="outline"
                id="custom-input"
                label="Message"
                labelPlacement="floating"
                placeholder="Enter Query"
                [counter]="true"
                maxlength="200"
                [counterFormatter]="customCounterFormatter"
                formControlName="query"></ion-textarea>
              </ion-item>

              <ion-button 
              type="submit" 
              expand="full" 
              [disabled]="!myForm.valid">Submit</ion-button>
            </ion-list>           
          </form>
          <!-- <div>
            
              <ion-list>
              <ion-item>
                <ion-input
                 
                fill="outline"
                label="Name"
                labelPlacement="floating"
                formControlName="name"></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input 
             
                fill="outline"
                label="Email"
                labelPlacement="floating"
                helperText="Enter a valid email"
                errorText="Invalid email"
                formControlName="email"
                email
                ></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-textarea
                mode="md"
                fill="outline"
                id="custom-input"
                label="Enter Your Message"
                labelPlacement="floating"
                [counter]="true"
                maxlength="200"
                [counterFormatter]="customCounterFormatter"
                formControlName="query"></ion-textarea>
              </ion-item>
          
              <ion-button 
              type="submit" 
              expand="full" 
              [disabled]="!myForm.valid">Submit</ion-button>
            </ion-list>
            </form>
          </div> -->

        </ion-col>

        <ion-col size="12" size-sm="6">
          <h3>We Are Located at</h3>
          <p> Alumni Association office <br>
                Room No. NB208<br>
                 ECA Ajmer <br>
                  email: aaeca&#64;aaeca.com<br>
                  Phone: +917891012342 </p>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div>
    <ion-list class="horizontal-list">
        <ion-item-divider color="light">our social media presence</ion-item-divider>
         <ion-item>
            <button
               class="button"  
               ion-button 
               icon-right 
               block 
               padding-vertical 
               color="primary" 
               (click)="shareViaFacebook()">
                   
                  <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
            </button>
         </ion-item>
  
  
         <ion-item>
            <button
               class="button"  
               ion-button 
               icon-right 
               block 
               padding-vertical 
               color="primary" 
               (click)="shareViaInstagram()">
                 
                  <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
            </button>
         </ion-item>
  
  
         <ion-item>
            <button 
               class="button"  
               ion-button 
               icon-right 
               block 
               padding-vertical 
               color="primary" 
               (click)="shareViaTwitter()">
                   
                  <ion-icon ios="logo-linkedin" md="logo-linkedin"></ion-icon>
            </button>
         </ion-item>
  
  
         <ion-item>
            <button
               class="button"  
               ion-button 
               icon-right 
               block 
               padding-vertical 
               color="primary" 
               (click)="sharePicker()">
                   
                  <ion-icon ios="ios-share" md="md-share"></ion-icon>
            </button>
         </ion-item>
        </ion-list>
  </div>

   
</ion-content>
<ion-footer class="footer">
  

  
</ion-footer>
