<ion-header class="ion-no-border" [translucent]="true">
 

  <ion-toolbar>
     
    <ion-title class="ion-text-center" color="primary">
      Alumini Association<br>
      <ion-note>Engineering College Ajmer</ion-note>
    </ion-title>

    <ion-avatar>
      <img  src="assets/logo/logo_avatar.png" />
    </ion-avatar>

<!-- <ion-img
  src="assets/logo/150H350W.png"
  alt="Alumini Association of Engineering College Ajmer"
></ion-img> -->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light" [fullscreen]="true">
  <div class="banner">

  </div>

  <div class="body">

  </div>
  <div class="events">

  </div>

  <div class="contactus">

  </div>


   
</ion-content>
<ion-footer class="footer">
  
</ion-footer>
