
<ion-content color="light">
  <div #text class="ion-text-wrap" class="ion-margin">
    <h2 class="ion-text-center">Benefits of becoming the Life Member of the Alumni Association Engineering College Ajmer
    </h2>
    <ion-list>
      <p><strong>Global Alumni Network:</strong> Global Alumni Network: Join a worldwide network of Engineering College
        Ajmer alumni, connecting you to a diverse and influential community around the globe.</p>
      <p><strong>Institute-Alumni Bridge:</strong> The Alumni Association serves as a vital link between the Institute
        and its graduates, fostering collaboration and communication.</p>
      <p><strong>Stay Informed:</strong> Receive the Engineering College Ajmer Newsletter and other publications to stay
        updated on the latest news and events at your alma mater.</p>
      <p><strong>Local Chapters:</strong> Access Alumni Chapters globally, participating in regular chapter
        get-togethers and exclusive events.</p>
      <p><strong>Special Institute Events:</strong> Be invited to special events and ceremonies hosted by the Institute
        and Alumni Chapters worldwide.</p>
      <p><strong>Batch Reunions:</strong> Attend milestone batch/class reunions like the 15th, 25th, 30th, 35th, 40th,
        and 50th, with assistance from the Alumni Association in organizing other batch reunions upon request. Reunion
        photos and videos are made available through the website here after the events.</p>
      <p><strong>Digital Networking:</strong> Connect with alumni via Whatsapp Group, LinkedIn, Twitter, and more.</p>
      <p><strong>Academic Services:</strong> Obtain your academic transcripts and other certificates conveniently
        through the Alumni Association.</p>
      <p><strong>Mentorship:</strong> Benefit from mentoring opportunities provided by senior alumni, including
        participation in various programs.</p>
      <p><strong>Souvenir Shop:</strong> Explore the Alumni Association's own souvenir shop, where you can find
        memorabilia and merchandise celebrating your alma mater.</p>
      <p><strong>Credit Card Facility:</strong> Enjoy access to an exclusive credit card facility designed for alumni,
        offering competitive terms, customized designs, and rewards programs. Insurance Policy: Secure your financial
        future with a comprehensive insurance policy tailored to the needs of our alumni.</p>
      <p><strong>Campus Tours:</strong> The Alumni Association can assist in organizing campus tours for you and your
        family, allowing you to revisit and explore the campus.<br>
      <p><strong>Campus Facilities:</strong> Enjoy discounted rates for alumni in the Visitors Hostel and access other
        campus facilities. Additionally, you can visit hostels, the library, departments, labs, and even meet with
        faculty members with the Alumni Association's help.</p>
      <p><strong>Privacy and Security:</strong> Rest assured that your life membership database is maintained securely
        by the Alumni Association and not shared with unauthorized parties. It also offers Degree Verification Services
        for pre- and post-employment screening companies.</p>
    </ion-list>
  </div>


</ion-content>
<ion-footer>
  <ion-button 
  color="secondary"
  id="open-modal" 
  expand="block" (click)="addMember()">Join Now</ion-button>
</ion-footer>
